.bg {
    /*background: url('https://source.unsplash.com/6x90rJDo-WA/2000x1322?a=.png') center / cover;*/
}
.demo-card-wide.mdl-card {
    width: 500px;

}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 500px;
    background: url('https://source.unsplash.com/random/500x500') center / cover;

}
.demo-card-wide > .mdl-card__menu {
    color: #fff;

}

.history-card-wide.mdl-card {
    width: 300px;

}
.history-card-wide > .mdl-card__title {
    color: #fff;
    height: 210px;
    /*background: url('https://placehold.it/500x500?text=Serverless Web Project') center / cover;*/

}
