.demo-card-wide.mdl-card {
  width: 100%;
  min-width: 300px;
}
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 250px;
  background: url('./imgs/logo.kr.png') center;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-list-three {
  width: 100%;
}

.mdl-dialog {
  min-width: 300px;
  height: 300px;
}

.mdl-dialog__content {
  padding: 0px;
}

#p2 {
  width: 100%;
  display: none;
}

#submitButton, .custom-btn {
  font-weight: bold;
}

#showBox {
  padding: 0px 0px 3px 0px;
}
